<div class="modal fade" id="lost_modal" tabindex="-1" role="dialog" aria-labelledby="lost_modal_label">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header modal-epoka-style">
                <h5 class="modal-title" id="lost_modal_label"> Please Reconfirm </h5>
            </div>
            <div class="modal-body" id="showLostObject">
            
            </div>
        </div>
    </div>
</div>