/* CSS used here will be applied after bootstrap.css */
/*body {*/
    /*background-color: #eaeaea;*/
/*}*/

img.avatar {
    border: 1px solid #eee;
    max-width: 160px;
    max-height: 160px;
    border-radius: 10% !important;
}

.only-bottom-margin {
    margin-top: 0;
}

.activity-mini {
    padding-right: 15px;
    float: left;
}
